<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Upload XLSX File</title>
    <link rel="stylesheet" href="multiplepredict.css">
  </head>
  <style>
    body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
  
  h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    color: #333333;
  }
  
  .file-upload {
    display: flex;
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    text-align: center;
    background-color: #009688;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  
  .file-upload:hover {
    background-color: #00897b;
  }
  
  .file-upload input[type="file"] {
    display: none;
  }
  
  .fa-file-excel-o:before {
    content: "\f1c3";
    margin-right: 10px;
    font-size: 1.5em;
  }
  
  label {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
  
  .disclaimer {
    font-size: 0.8em;
    color: #666666;
    text-align: center;
    margin-top: 30px;
  }
  
</style>
  <body>
    <div class="container">
      <h1>Upload XLSX File</h1>
      <div class="file-upload">
        <form action="/uploadmodelsheet" method="POST" enctype="multipart/form-data">
        <label for="file-input">
          <i class="fa fa-file-excel-o"></i> Choose Excel File
        </label>
        <input id="file-input" type="file" accept=".xlsx" name="file">
      <button type="submit">Upload</button> 
      </form>
      </div>
      <p class="disclaimer">Only XLSX files allowed. Maximum file size of 10MB.</p>
    </div>
  </body>
</html>
