#s1
{
    position:relative;
    width:100%;
    height:400px;
    background-color: red;

}
#s1-0
{
    position:absolute;
    left:50px;
}
#s1-1
{
   position:absolute;
   left:250px;
}
#s1-2
{
    position:absolute;
    left:300px;
}