body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
  
  h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    color: #333333;
  }
  
  .file-upload {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    background-color: #009688;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  
  .file-upload:hover {
    background-color: #00897b;
  }
  
  .file-upload input[type="file"] {
    display: none;
  }
  
  .fa-file-excel-o:before {
    content: "\f1c3";
    margin-right: 10px;
    font-size: 1.5em;
  }
  
  label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .disclaimer {
    font-size: 0.8em;
    color: #666666;
    text-align: center;
    margin-top: 30px;
  }
  